
    <footer class="bg-gray-800 text-white py-4">
        <p class="text-center">&copy; 2025 - All Rights with <a href="#" target="_blank" class="text-blue-400 hover:underline">Gaudicos Corp</a></p>
    </footer>
